/* Importing google fonts */
@import url("https://fonts.googleapis.com/css?family=Lora|Roboto");
 
/* Importing all components file */
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

/* General style rules for fonts and colors */

body {
	background: #F5EFE3;
	color: rgb(50,50,50);
	font-family: 'Lora', serif;
	font-size: 17px;
	font-weight: lighter;
	margin:0px;
}

h1,h2,h3,h4 {
	font-family: 'Roboto', sans-serif; 
	color: #596E79;
	font-size: 24px;
	font-weight: bold;
}


a { 
	text-decoration: none;
}



