.banner {
  /* 1. Set a background image */
  	background-image: url(../../images/background1.jpg);
    background-position: cover;
    background-position: center;   
    color: white;
    padding:150px 0px;

  	}

.banner h1 {
  color: white;
  font-size: 50px;
}
.banner h2 {
  color: white;
  font-size: 30px;
  font-weight: lighter;
	opacity: 0.8;
  margin-bottom: 40px;
}

.banner-with-flat-filter {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/background1.jpg');
}

